@font-face {
  font-family: nunito;
  src: url("Nunito.ttf") format("opentype");
}

:root {
  --color: #a12613;
  --back: #212121;
  --darker: #0c0c0c;
}

html {
  scroll-behavior: smooth;
  font-family: nunito;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body {
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

.bolding {
  font-weight: bold;
}

.highlight {
  color: #cc3821;
}

.bg-back {
  background-color: var(--back);
}

.c-back {
  background-color: var(--color);
}

.d-back {
  background-color: var(--darker);
}

.bg-text {
  color: var(--back);
}

.c-text {
  color: var(--color);
}

.w-text {
  color: white;
}

.mp-right {
  text-align: right;
}

.mp-left {
  text-align: left;
}

.mp-description {
  font-size: 1.3rem;
  padding-bottom: 2rem;
}

.mp-row {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.mp-tab {
  margin-bottom: 2rem;
}

.mp-thin-container {
  padding-bottom: 1rem;
  margin-right: 30%;
  margin-left: 30%;
  text-align: left;
}

.mp-container {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.mp-search-container {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 30%;
  padding-left: 30%;
}

.first-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mp-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 5rem;
}

.mp-semi-title {
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.mp-how {
  color: white;
}

.input-zone {
  margin-bottom: 1rem;
}

.mp-input {
  width: 90%;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid var(--darker);
  outline: none;
  transition: all 0.3s cubic-bezier(0.2, 1, 0.2, 1);
  box-shadow: 0px 0px 20px -18px;
}

.mp-input:hover {
  border: 2px solid var(--darker);
  box-shadow: 0px 0px 20px -17px;
}

.mp-input:active {
  transform: scale(0.99);
}

.mp-input:focus {
  border: 2px solid var(--color);
}

.mp-test-clickable {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.mp-test-clickable:hover {
  cursor: pointer;
}

.mp-text-shard {
  margin-bottom: 1rem;
}

.mp-big-text {
  font-size: 3rem;
}

.mp-spread {
  margin:0;
}

.nav-btn {
  padding: 1rem 2rem 1rem 2rem;
  background-color: #811d0d;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: var(--back);
}

/* ##### GRID ##### */

.mp-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-right: 30%;
  margin-left: 30%;
}

.mp-nav {
  text-align: center;
  padding-bottom: 2rem;
}

.mp-red-button {
  font-family: nunito;
  font-weight: bold;
  border: var(--color) 1px solid;
  background-color: var(--back);
  color: white;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}

.mp-red-button:hover {
  color: white;
  background-color: var(--color);
  color: white;
}

.mp-white-button {
  font-family: nunito;
  font-weight: bold;
  border: white 1px solid;
  background-color: var(--back);
  color: white;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}

.mp-white-button:hover {
  color: white;
  background-color: white;
  color: var(--back);
}

table {
  border-collapse: collapse;
}

th {
  background-color: #414141;
}

td {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

th, td {
  padding: 0.5rem 2rem 0.5rem 2rem ;
  text-align: left;
}

tr {
  border: 2px solid #303030;
}

.mp-mb {
  margin-bottom: 1rem;
}

.practice-table {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mp-align-left {
  text-align: left;
}

/**
 *
 * MEDIA < 1000px
 *
**/
@media (max-width: 1000px) {

  .brand-img {
    height: 200px;
  }

  h2 {
    font-size: 1.8rem;
  }

  .doc-h1 {
    font-size: 2.5rem;
  }

  .mp-description {
    padding-bottom: 0.5rem;
  }

  .mp-search-container {
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 20%;
    padding-left: 20%;
  }

  .mp-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .mp-grid-container {
    grid-template-columns: 1fr;
    margin-right: 5%;
    margin-left: 5%;
  }

  .mp-thin-container {
    margin-right: 20%;
    margin-left: 20%;
  }

  table {
    width: 100%;
  }

  th, td {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
  }
}